html {
  box-sizing: border-box;
  height: 100%;
  min-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.Application {
  background-size: cover;
  background: no-repeat url('/../content/images/background/saturn.jpg') center center fixed;
  height: 100vh;
}

.titles {
  // background-image: radial-gradient(ellipse, rgba(255,255,255,.4) 0%, transparentize($color-space, .95) 75%);
//   // height: 250px;
//   // margin: 30% auto;
  padding-top: 30vh;
//   width: 50vw;
}

h1 {
  font-size: 60px;
  color: lighten($color-space, 40);
  font-family: $font-home-page-secondary;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: $font-home-page;
  letter-spacing: .1em;
  padding: 10px 0;
  text-align: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
}

button {
  @include font-size(18px);
  background-color: $color-space-medium;
  border-radius: 40px;
  border: none;
  color: $color-space;
  // display: inline-block;
  font-family: $font-home-page-secondary;
  height: 50px;
  letter-spacing: .05em;
  // margin: 20px auto;
  width: 85px;
  &:hover {
    background-color: transparentize($color-space-light, .3);
    color: white;
    // min-height: 55px;
    // min-width: 120px;
  }
}
