html {
  @include global-box-sizing(border-box);
  height: 100%;
  min-width: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.Application {
  @include container;
  background-size: cover;
  background: no-repeat url('/../content/images/background/saturn.jpg') center center fixed;
  height: 100vh;
}

.titles {
  padding: 30vh 5vw 0;
}

h1 {
  font-size: 60px;
  color: $color-space-medium;
  font-family: $font-home-page-secondary;
  padding: 20px 0;
  text-align: center;
}

h2 {
  font-size: 38px;
  font-family: $font-home-page;
  letter-spacing: .1em;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10%;
  @include breakpoint($large) {
    margin-bottom: 5%
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
}

button {
  @include font-size(20px);
  background-color: $color-space-medium;
  border-radius: 40px;
  border: none;
  // display: inline-block;
  color: $color-space;
  font-family: $font-home-page-secondary;
  height: 50px;
  letter-spacing: .05em;
  // padding: 0 5px;
  // min-width: 75px;
  // max-width: 200px;
  .start-button {
    @include font-size(32px);
    // width: 150px;
  }
  &:hover {
    background-color: transparentize($color-space-light, .3);
    color: white;
  }
  @include breakpoint($small) {
    @include font-size(20px);
    height: 55px;
    // padding: 3px 0;
    // min-width: 120px;
  }
  @include breakpoint($medium) {
    @include font-size(26px);
    // min-width: 150px;
  }
  @include breakpoint($large) {
    // min-width: 200px;
  }
}
