@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  // font-size: $size;
  font-size: calculateRem($size);
}

// Media Queries

$small: 400px;
$medium: 710px;
$large: 900px;
$extra-large: 1000px;

@mixin breakpoint($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

// Susy

$susy: (
  columns: 12,
  global-box-sizing: border-box,
  container-position: center,
  math: fluid,
  gutters: .25,
  // output: float,
  // gutter-position: outside
);



// $total-columns: 10;
// $column-width: 4em;
// $gutter-width: 1em;
// $grid-padding: 1em;
