@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  // font-size: $size;
  font-size: calculateRem($size);
}

// Media Queries

$small: 400px;
$medium: 710px;
$large: 900px;
$extra-large: 1000px;

@mixin breakpoint($bp) {
    @media screen and (min-width: $bp) {
      @content;
    }
}
