// Page One

.sleeping-globot {
  width: 45%;
  margin-left: 30%;
}

// Page Two

.surprised-globot {
  margin-bottom: 20px;
  margin-left: 20%;
  width: 60%;
}

// Page Three

.page3 {
  background: no-repeat url('/../content/images/background/blue-space.jpg') center center fixed;
}

.friends {
  margin: 5% 0 5% 25%;
  padding-top: 40px;
  width: 50%;
}

// Page Four

.power-down {
  margin-left: 37%;
  padding-bottom: 10px;
  width: 30%;
}

// Page Five

.page5 {
  background: no-repeat url('/../content/images/background/disco-space2.png') center center fixed;
}

// Page Six
// Page Seven
// Page Eight
// Page Nine
// Page Ten
