// ALL PAGES & PAGE ONE
.main-image {
  @include push(1 of 12);
  height: 40vh;
  margin-top: 15%;
  @include breakpoint($small) {
    @include push(3 of 12);
  }
  @include breakpoint(500px) {
    @include push(3 of 12);
    height: 45vh;
  }
  @include breakpoint($medium) {
    @include push(4 of 12);
    height: 50vh;
    margin-top: 10%;
  }
  @include breakpoint($large) {
    margin-top: 5%;
  }
}

// PAGE TWO
.oh-no {
  height: 32vh;
  @include breakpoint(600px) {
    height: 40vh;
  }
  @include breakpoint($large) {
    height: 50vh;
  }
}

// PAGE THREE
.page3 {
  background: no-repeat url('/../content/images/background/blue-space.jpg') center center fixed;
}

.friends {
  margin-top: 5%;
  height: 35vh;
  @include breakpoint($small) {
    @include push(1 of 12);
  }
  @include breakpoint(500px) {
    @include push(3 of 12);
  }
  @include breakpoint($medium) {
    margin-top: 15%;
  }
  @include breakpoint($large) {
    @include push(2 of 12);
    height: 50vh;
    margin-top: 5%;
  }
  @include breakpoint($extra-large) {
    @include push(3 of 12);
  }
}

// PAGE FOUR
.power-down {
  @include push(3 of 12);
  @include breakpoint($small) {
    @include push(4 of 12);
  }
  @include breakpoint(550px) {
    margin-top: 5%;
  }
  @include breakpoint($large) {
    @include push(5 of 12);
  }
}

// PAGE FIVE
.page5 {
  background: no-repeat url('/../content/images/background/disco-space2.png') center center fixed;
}

.surprised-bot {
  @include push(4 of 12);
  animation:
    infinite-spinning linear 4s infinite,
    shrinking linear 10s infinite alternate;
  @include breakpoint($large) {
    margin-top: 12%;
  }
}

@keyframes infinite-spinning {
  100% { transform: rotate(360deg); }
}

@keyframes shrinking {
  0%, 100% { width: 40%; }
  50% { width: 5%; }
}

@include breakpoint($large) {
  @keyframes shrinking {
    0%, 100% { width: 30%; }
    50% { width: 5%; }
  }
}

// PAGE SIX
.page6 {
  background: no-repeat url('/../content/images/background/saturn2.jpg') center center fixed;
}

.mystery-box {
  @include push(1 of 12);
  height: 24vh;
  @include breakpoint($small) {
    height: 30vh;
  }
  @include breakpoint(500px) {
    @include push(2 of 12);
    margin-top: 7%;
  }
  @include breakpoint($medium) {
    height: 40vh;
  }
  @include breakpoint($extra-large) {
    @include push(3 of 12);
  }
}

// PAGE SEVEN
.page7 .story {
  height: 30vh;
  overflow: scroll;
  @include breakpoint($medium) {
    height: 42vh;
  }
  @include breakpoint(830px) {
    height: 35vh;
  }
  @include breakpoint($large) {
    height: 30vh;
  }
}

.box-o-cheese {
  @include push(0 of 12);
  height: 35vh;
  margin-left: 3%;
  width: 90%;
  @include breakpoint($medium) {
    margin-top: 5%;
  }
}

// PAGE EIGHT
.glogurt-factory {
  width: 90%;
  @include breakpoint($small) {
    @include push(1 of 12);
  }
  @include breakpoint($medium) {
    @include push(0 of 12);
    width: 100%;
  }
}

// PAGE NINE
.uh-oh {
  width: 87%;
  @include breakpoint($small) {
    @include push(1 of 12);
  }
}

// PAGE TEN
