.StoryPage {
  height: 100vh;
  background-size: cover;
  background: no-repeat url('/../content/images/background/saturn.jpg') center center fixed;
}

.globot {
  display: block;
  height: auto;
  width: 100px;
  margin: 0 auto;
}

.sleeping-globot {
  width: 400px;
  height: auto;
}
