// ALL PAGES
.main-image {
  @include push(1 of 12);
  height: 40vh;
  margin-top: 15%;
  @include breakpoint($small) {
    @include push(3 of 12);
  }
  @include breakpoint(500px) {
    @include push(3 of 12);
    height: 45vh;
  }
  @include breakpoint($medium) {
    @include push(4 of 12);
    height: 50vh;
    margin-top: 10%;
  }
  @include breakpoint($large) {
    margin-top: 5%;
  }
}

// PAGE ONE

// PAGE TWO
.oh-no {
  height: 32vh;
  @include breakpoint(600px) {
    height: 40vh;
  }
  @include breakpoint($large) {
    height: 50vh;
  }
}

// PAGE THREE

.page3 {
  background: no-repeat url('/../content/images/background/blue-space.jpg') center center fixed;
}

.friends {

  // margin: 10% 0 5% 10%;
  // width: 80%;
  // @include breakpoint(500px) {
  //   width: 70%;
  //   margin-top: 5%;
  //   margin-left: 15%;
  // }
  // @include breakpoint(600px) {
  //   width: 60%;
  //   margin-left: 20%;
  // }
  // @include breakpoint($large) {
  //   width: 55%;
  // }
  // @include breakpoint($extra-large) {
  //   width: 45%;
  //   margin-left: 25%;
  // }
}

// PAGE FOUR

.power-down {
  @include push(3 of 12);
  @include breakpoint($small) {
    @include push(4 of 12);
  }
  @include breakpoint(550px) {
    margin-top: 5%;
  }
  @include breakpoint($large) {
    @include push(5 of 12);
  }
}

// PAGE FIVE

.page5 {
  background: no-repeat url('/../content/images/background/disco-space2.png') center center fixed;
}

.surprised-bot {
  // width: 40%;
  // margin: 36% 0 25% 30%;
  animation: infinite-spinning linear 4s infinite,
  shrinking linear 10s infinite alternate;
  @include breakpoint($small) {
    // margin-top: 30%;
  }
  @include breakpoint(600px) {
    // margin-top: 25%;
  }
  @include breakpoint($medium) {
    // margin-top: 10%;
  }
  @include breakpoint(800px) {
    // margin-top: 5%;
  }
  @include breakpoint($extra-large) {
    // margin-top: 2%;
  }
}

@keyframes infinite-spinning {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shrinking {
  0% {
    width: 40%;
  }
  50% {
    // margin-left: 45%;
    // margin-top: 45%;
    width: 5%;
  }
  100% {
    width: 40%;
  }
}

@include breakpoint($large) {
  @keyframes shrinking {
    0% {
      width: 30%;
    }
    50% {
      // margin-left: 45%;
      // margin-top: 45%;
      width: 5%;
    }
    100% {
      width: 30%;
    }
  }
}

// PAGE SIX

.page6 {
  background: no-repeat url('/../content/images/background/saturn2.jpg') center center fixed;
}
//
// .mystery-box {
//   max-width: 70%;
//   margin-top: 10%;
//   margin-left: 10%;
// }

// PAGE SEVEN
//
// .box-o-cheese {
//   max-width: 80%;
//   margin: 5% 0 0 10%;
// }

// PAGE EIGHT

.glogurt-factory {
  // margin-left: 15%;
}

// PAGE NINE

.uh-oh {
  // margin-left: 5%;
  // margin-top: 5%;
}

// PAGE TEN
