
.StoryPage {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

p {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 30px;
}

h3 {
  color: $color-space;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.pageText {
  margin-top: 50px;
  // height: 55vh;
}

.first-choice,
.second-choice {
  // height: 80px;
  width: 300px;
  display: flex;
}

.second-choice-button {
  // display: none;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav,
.first-choice,
.second-choice {
  height: 150px;
}


.start-over {
  background-color: transparentize(white, .70);
  color: saturate($color-space, 70);
  font-size: 26px;
  margin: 10px auto 20px;
  width: 150px;
  &:hover {
    background-color: lighten($color-space, 65);
    height: 52px;
    width: 155px;
  }
}
