.story {
  background-color: transparentize(white, .30);
  color: black;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-top: 50px;
}

.printed-text {
  padding-bottom: 5px;
}
.read-aloud {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: 60%;
  margin: 0 auto;
}

.read-text {
  font-size: 22px;
  width: 150px;
}
// .choices {
//   font-size: 20px;
//   padding-top: 15px;
// }
//
