.story {
  @include squish(1%);
  background-color: transparentize(white, .30);
  color: $color-space;
  position: absolute;
  bottom: 100px;
  width: 98%;
}

p {
  @include squish(5%);
  @include font-size(20px);
  color: $color-space;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  @include breakpoint(500px) {
    @include font-size(24px);
  }
}

.read-aloud {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  width: 60%;
  margin: 0 auto;
}

.read-text {
  @include font-size(24px);
  background-color: $color-space-light;
  width: 150px;
}
