@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');
@import url('https://fonts.googleapis.com/css?family=Play');

// Fonts
$font-home-page: 'Orbitron', sans-serif;
$font-home-page-secondary: 'Play', sans-serif;

// Colors
$color-space: #271530;
