@import url('https://fonts.googleapis.com/css?family=Orbitron|Play');

// Fonts
$font-main: 'Orbitron', sans-serif;
$font-secondary: 'Play', sans-serif;

// Colors
$color-space: #271530;
$color-space-medium: lighten($color-space, 40);
$color-space-light: lighten($color-space, 60);
