@import '_reset';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: no-repeat url('/../images/space.png');
  background-size: cover;
}

h1 {
  color: yellow;
  font-size: 40px;
}

h2 {
  color: yellow;
  font-size: 30px;
}
